body {
    background-color: lightgrey;
    font-family: monospace;
    padding-top: 10em;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.calculator {
    background-color: dodgerblue;
    border: 2px solid black;
    border-radius: 16px;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: yellowgreen;
    color: black;
    height: 85px;
    width: 420px;
    padding-bottom: 9px;
    border-radius: 16px;
    border: 1px solid rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#result {
    align-self: flex-end;
    margin-right: 7px;
    margin-bottom: 0;
    font-size: 32px;
}

button {
    font-size: 22px;
    color: white;
    transition-duration: 0.05s;
    background-color: rgb(21, 96, 170);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 8px;
    width: 90px;
    height: 54px;
}

button:hover {
    background-color: dodgerblue;
}

.buttons {
    padding: 24px 0px 10px 0px;
    display: flex;
    gap: 20px;
}

.digits {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 20px;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.operator {
    color: white;
    transition-duration: 0.05s;
    background-color: rgb(21, 96, 170);
    border: 1px solid rgb(51, 51, 51);
}

.operator:hover {
    background-color: dodgerblue;
}

#bottom-row {
    align-self: flex-end;
}

#equals {
    color: white;
    transition-duration: 0.05s;
    align-self: flex-end;
    background-color: rgb(223, 147, 76);
    border: 1px solid rgb(51, 51, 51);
}

#equals:hover {
    background-color: rgb(252, 163, 80);
}

#delete {
    background-color: tomato;
    transition-duration: 0.05s;
}

#delete:hover {
    background-color: rgb(250, 125, 103);
}

#backspace {
    background-color: tomato;
    transition-duration: 0.05s;
}

#backspace:hover {
    background-color: rgb(250, 125, 103);
}
